{% extends 'base.html' %}
{% block title %}
    Add Post
{% endblock %}

{% block content %}
<div class="container">

{% if user.is_authenticated %}
    <h1 class="fw-light text-center">Add New Blog Post Here!!</h1>
    <hr/>
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button class="btn btn-primary">Submit</button>
    </form>
    </div>
    <!-- <script>
        var user_id = "{{ user.id }}";
        document.getElementById("user_id").value = user_id;
    </script> -->
{% else %}
    <h1 class="fw-light mt-5">Sorry :(</h1>
    <hr/>
    <h5>You're not allowed to add a new blog post!</h5>
{% endif %}
<br/>
</div>
{% endblock %}
