{% extends 'base.html' %}
{% block title %}
    SK BLOGS: Add Blog Category
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <h1 style="text-align: center;">Add New Blog Category Here!!</h1>
    <hr/>
    <div class="form-group">
        <form method="POST">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button class="btn btn-primary">Add Category</button>
    </form>
    </div>
{% else %}
    <h1>Sorry :(</h1>
    <hr/>
    <h5>You're not allowed to add a new blog post!</h5>
{% endif %}


{% endblock %}
