{% extends 'base.html' %}
{% load static %}
{% block title %}
    SK BLOGS: {{post.title_tag}}
{% endblock %}

{% block content %}
    <h1 class="fw-light mt-5">{{ post.title }}</h1>
    <small>Author: 
      {% if post.author.profile.id %}
        <a href="{% url 'show-profile-page' post.author.profile.id %}">{{ post.author.first_name }} {{ post.author.last_name }}</a> - {{ post.post_date }} - <a href="{% url 'category' post.category|slugify %}"><strong>{{post.category}}</strong></a>
      {% else %}
        {{ post.author.first_name }} {{ post.author.last_name }} - {{ post.post_date }} - <a href="{% url 'category' post.category|slugify %}"><strong>{{post.category}}</strong></a>
      {% endif %}
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                <a href="{% url 'update-post' post.pk %}">Edit Post</a></small> | 
                <a href="{% url 'delete-post' post.pk %}"><small>Delete Post</small></a>
            {% endif %}
        {% endif %}            
    <hr/>
    {{ post.body|safe }}

    {% if user.is_authenticated %}
        <hr/>
        <form action="{% url 'like-post' post.pk %}" method="POST">
            {% csrf_token %}
            {% if liked %}
                <button type="submit" name="post_id" value= "{{ post.id }}" class="btn btn-danger btn-sm">Unlike👎</button>
            {% else %}
                <button type="submit" name="post_id" value= "{{ post.id }}" class="btn btn-success btn-sm">Like👍</button>
            {% endif %}
            - {{ total_likes }} Likes
        </form>
    {% endif %}
    <h3 class="fw-light mt-2">Comments...</h3>
    <hr/>   
    {% if not post.comments.all %}
        <h6>No Comments Till Now!!</h6>
    {% else %}
        {% for comment in post.comments.all %}
        <strong>{{ comment.name }} <small>- {{ comment.date_added }}</small></strong>
        <br/>
        {{ comment.body }}
        <br/>
        {% endfor %}
        
    {% endif %}
    <hr/>
    <a href="{% url 'add-comment' post.pk %}"><button class="btn btn-primary btn-sm">Add Comment</button></a>
{% endblock %}
