{% extends 'base.html' %}

{% block title %}
    SK BLOGS: Blog Categories
{% endblock %}

{% block content %}
<h2 style="font-weight: bold; text-align: center;">Find All Blog Categories Here!!</h2>
<hr/>
<div class="album py-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for category in category_list %}
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body" style="background:lightblue;">
            <h5 class="card-text" style="text-align: center;"><a href="{% url 'category' category|slugify %}">{{ category }}</a></h5>
          </div>
        </div>
      </div>
      {% endfor %}  
    </div>
  </div>
</div>
<hr/>
{% endblock %}
