{% extends 'base.html' %}
{% block title %}
    Delete: {{post.title}}
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <h1>Delete: {{ post.title }}</h1>
        <hr/>
        <div class="form-group">
            <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <strong>Are you sure, you want to delete this blog post?</strong>
            <br/>
            <button class="btn btn-danger">Delete</button>
        </form>
        </div>
    {% else %}
        <h1>Sorry :(</h1>
        <hr/>
        <h5>You're not allowed to delete this blog post!</h5>
    {% endif %}
{% else %}
    <h1>Sorry :(</h1>
    <hr/>
    <h5>You're not logged-in to delete any blog post!</h5>
{% endif %}

{% endblock %}
