{% extends 'base.html' %}
{% block title %}
  Home
{% endblock title %}
{% block content %}
<div class="container">
<h1 class="text-center"><i>Read The Latest Technical Articles On SK Blogs...</i></h1>
<hr/>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
</svg>
{% for message in messages %}
  <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
      <div>{{ message }}</div>
      <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
  </div>
{% endfor %}
<!-- <div class="album py-5"> </div> -->
<div class="container">
  {% for post in object_list %}
  <div class="col mt-2">
    <div class="card shadow-sm">
      <div class="card-body" style="background:lightblue;">
        <h5 class="card-text" style="text-align: center;"><a href="{% url 'article-view' post.pk %}"><strong>{{ post.title }}</strong></a></h5>
        <small class="text-muted">Category: <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a></small>
        <p class="card-text">{{ post.snippet }}</p>
        <small class="card-text"><strong class="text-muted">Author: </strong>{{ post.author.first_name }} {{ post.author.last_name }}</small>
        <div class="d-flex justify-content-between align-items-center">
          {% if user.is_authenticated %}
            {% if user.id == post.author.id %}    
          <div class="btn-group mt-1">
            <br/>
            <a href="{% url 'update-post' post.pk %}"><button type="button" class="btn btn-sm btn-primary">Edit</button></a>&ThickSpace;
            <a href="{% url 'delete-post' post.pk %}"><button type="button" class="btn btn-sm btn-danger">Delete</button></a>
          </div>
            {% endif %}
          {% endif %}                
          <small>{{ post.post_date }}</small>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<br/>
</div>
{% endblock %}
