{% extends 'base.html' %}
{% block title %}
    SK BLOGS: Edit Blog Post
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <h2 style="text-align: center;">Edit This Blog Post Here!!</h2>
        <hr/>
        <div class="form-group">
            <form method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-primary">Update</button>
        </form>
        </div>
    {% else %}
        <h1>Sorry :(</h1>
        <hr/>
        <h5>You're not allowed to edit/update this blog post!</h5>
    {% endif %}
{% else %}
    <h1>Sorry :(</h1>
    <hr/>
    <h5>You're not logged in to edit/update any blog post!</h5>
{% endif %}

{% endblock %}
