{% extends 'base.html' %}
{% block title %}
    SK BLOGS: Edit Blog Post
{% endblock %}

{% block content %}
<div class="container">

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <h1 class="fw-light mt-5 text-center">Edit This Blog Post Here!!</h1>
        <hr/>
        <div class="form-group">
            <form method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-primary">Update Post</button>
        </form>
        </div>
    {% else %}
        <h1 class="fw-light mt-5">Sorry :(</h1>
        <hr/>
        <h5>You're not allowed to edit or update this blog post!</h5>
    {% endif %}
{% else %}
    <h1 class="fw-light mt-5">Sorry :(</h1>
    <hr/>
    <h5>You're not logged-in to edit or update any blog post!</h5>
{% endif %}
<br/>
</div>
{% endblock %}
