{% extends 'base.html' %}
{% block title %}
SK BLOGS: Change Password Page
{% endblock %}

{% block content %}

<div class="form-group">
    <h2 style="text-align: center;">Change Your Password Here!!</h2>
    <hr/>
    <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <ul>
        <li>Your password can’t be too similar to your other personal information.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can’t be a commonly used password.</li>
        <li>Your password can’t be entirely numeric.</li>
    </ul>

    <button class="btn btn-primary">Change Password</button>
</form>
</div>
{% endblock %}
