{% extends 'base.html' %}
{% block title %}
    Create Profile
{% endblock %}

{% block content %}
<div class="container">

{% if user.is_authenticated %}
    <h1 class="fw-light mt-3 text-center">Create Your Profile Page Here!!</h1>
    <hr/>
    <div class="form-group">
        <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Add Profile</button>
    </form>
    </div>
{% else %}
    <h1 class="fw-light mt-5">Sorry :(</h1>
    <hr/>
    <h5>You're not logged-in to create a profile page!</h5>
{% endif %}
<br/>
</div>
{% endblock %}
