{% extends 'base.html' %}
{% block title %}
Edit Profile
{% endblock %}

{% block content %}
<div class="container">

{% if user.is_authenticated %}
    {% if user.id == profile.user.id %}
        <h1 class="fw-light mt-3 text-center">Edit Profile Page!!</h1>
        <hr/>
        <div class="form-group">
            <form method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-primary">Edit Profile Page</button>
        </form>
        </div>
    {% else %}
        <h1 class="fw-light mt-5">Sorry :(</h1>
        <hr/>
        <h5>You're not allowed to edit others's profile page!</h5>
    {% endif %}
{% else %}
    <h1 class="fw-light mt-5">Sorry :(</h1>
    <hr/>
    <h5>You're not logged-in to access this page!</h5>
{% endif %}
<br/>
</div>
{% endblock %}
