{% extends 'base.html' %}
{% load static %}

{% block title %}
SK BLOGS: {{ page_user.user.first_name }} {{ page_user.user.last_name }}
{% endblock %}
{% block content %}
<h1 class="fw-light mt-5 text-center">{{ page_user.user.first_name }} {{ page_user.user.last_name }}'s Profile</h1>
<hr/>
  {% if page_user.profile_pic %}
    <img src="{{ page_user.profile_pic.url }}" style=" border: 2px solid grey;border-radius:4px;display:block;width:25%;margin-left:auto;margin-right:auto;margin-top: 10px;" alt="Profile Pic">
  {% else %}
    <img src="{% static 'profile_pic.png' %}" style=" border: 2px solid grey;border-radius:4px;display:block;width:25%;margin-left:auto;margin-right:auto;margin-top: 10px;" alt="Profile Pic">
  {% endif %}
<br/>
<p class="text-center" style="font-weight: bold;">
  {% if page_user.website_url %}
  <a href="{{ page_user.website_url }}">Website</a> &ThickSpace;
  {% endif %}
  {% if page_user.linkedin_url %}
    <a href="{{ page_user.linkedin_url }}">LinkedIn</a> &ThickSpace;
  {% endif %}
  {% if page_user.twitter_url %}
    <a href="{{ page_user.twitter_url }}">Twitter</a> &ThickSpace;
  {% endif %}
  {% if page_user.facebook_url %}
    <a href="{{ page_user.facebook_url }}">Facebook</a> &ThickSpace;
  {% endif %}
  {% if page_user.instagram_url %}
    <a href="{{ page_user.instagram_url }}">Instagram</a> &ThickSpace;
  {% endif %} 
</p>
<hr/>
<p class="lead text-muted">{{ page_user.bio }}</p>
{% endblock %}
